.search {
  margin-bottom: 90px;
}
.search__wrapper {
  max-width: 810px;
  margin: 0 auto;
}
.search__wrapper__header {
  padding: 50px 0;
  text-align: center;
  position: relative;
}

.search__wrapper__header h3 {
  font-weight: 800;
  font-size: 35px;
  color: #000;
  margin-bottom: 12px;
}
.search__wrapper__header p {
  max-width: 275px;
  margin: 0 auto;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 127%;
  color: #939393;
}

.search__wrapper__header .btn-exit {
  position: absolute;
  top: 55px;
  right: 10px;
  box-shadow: 0px 1.53px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.input__form {
  background: #3914af;
  padding: 15px 0;
}
.input__form form {
  width: 100%;
  background: #fff;
  padding: 10px 20px;
  border-radius: 8px;
}
.input__form form input {
  height: 100%;
  width: 90%;
  padding: 10px 0;
  font-weight: 500;
  font-size: 22px;
  color: #000;
}

.search__wrapper__body {
  padding-top: 35px;
}
.search__wrapper__body h6 {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 22px;
}

.search__wrapper__body .card__container {
  background: #eff1f4;
  box-shadow: 0px 10px 33px rgba(0, 0, 0, 0.09);
  border-radius: 17px;
  padding: 24px 30px;

  display: grid;
  grid-template-columns: auto auto;
  gap: 30px;
}

.card__container .card__item {
  background: #ffffff;
  box-shadow: 0px 15px 12px rgba(0, 0, 0, 0.1);
  border-radius: 19px;
  padding: 20px;
  width: 100%;
}

.card__container .card__item img {
  width: 100%;
  max-height: 210px;
  min-height: 200px;
  object-fit: cover;
  margin-bottom: 40px;
}

.card__item .card__item__content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__item .card__item__content p {
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  color: #000;
  max-width: 60%;
  margin-bottom: 0;
}

/* ////////////////////////// */
/* search item  page*/

.search__item {
  padding: 90px 0;
}
.search__item__wrapper__title {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 30px;
  margin-bottom: 35px;
}
.search__item__wrapper__title .btn-back {
  width: 45px;
  height: 45px;
  margin: 0;
  padding: 8px;
  box-shadow: 0px 1.53px 12px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transform: rotate(90deg);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search__item__wrapper__title .btn-back a {
  font-size: 16px;
  padding: 0;
  margin: 0;
  width: fit-content;
  display: inline-block;
  margin-left: -2px;
}

.search__item__wrapper__title h3 {
  font-weight: 700;
  font-size: 35px;
  line-height: 130%;
}
.search__item__wrapper__body .btn-top,
.search__item__wrapper__body .btn-down {
  outline: none;
  border: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(180deg);
}

.search__item__wrapper__body .btn-down {
  transform: rotate(0);
}
.search__item__wrapper__body .scroll-tab {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.search__item__wrapper__body #parent {
  transition: all 0.3s;
}
.search__item__wrapper__body .tab__item {
  overflow: hidden;
  height: 315px;
}

.company,
.news {
  margin-bottom: 200px;
}

.sidebar h5 {
  display: none;
  font-weight: 600;
}

.company__wrapper,
.news__wrapper {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 50px;
}
.company__wrapper .company__wrapper__tab,
.news__wrapper .company__wrapper__tab {
  flex: 1;
  padding-top: 50px;
  max-width: 400px;
  min-width: 400px;
}
.company__wrapper .company__wrapper__body,
.news__wrapper .company__wrapper__body {
  flex: 3;
  width: 100%;
}

.company__wrapper__tab ul li {
  padding: 15px 0;
  font-weight: 500;
  font-size: 18px;
  color: #000;
  border-bottom: 0.8px solid #e6e6e6;
  position: relative;
  list-style: none;
  cursor: pointer;
}
.company__wrapper__tab ul li a {
  display: flex;
  width: 100%;
}

.company__wrapper__tab ul li::marker {
  color: #3715a6;
}

.company__wrapper__tab ul .active {
  border-color: #3715a6 !important;
}

.company__wrapper__tab ul .active::before {
  content: "";
  position: absolute;
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
  min-width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #2f2483;
  transition: 0.3s;
}

.company__wrapper__body h3 {
  font-weight: 800;
  font-size: 35px;
  margin-bottom: 5px;
}
.company__wrapper__body .full-size {
  display: flex;
  align-items: center;
  justify-content: end;
}
.company__wrapper__body .full-size button {
  border: none;
  outline: none;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  background: #eff1f4;
  border-radius: 6px;
  padding: 9px 11px;
}
.company__wrapper__body .full-size button .fa-maximize {
  margin-left: 20px;
  margin-top: 1px;
}

.company__wrapper__body .company-table img {
  width: 100%;
  object-fit: cover;
}

.company__wrapper__body .company-table .btn-exit {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  box-shadow: 0px 1.53px 12px rgba(0, 0, 0, 0.1);
  padding: 0;
  display: none;
}

.company__wrapper__body .maxsize .btn-exit {
  display: block;
  position: fixed;
  top: 55px;
  right: 35%;
  z-index: 13;
}
.company__wrapper__body .maxsize {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 12;
  width: 100%;
  height: 100vh;
  animation: anime 0.3s ease-in-out 1;
}

@keyframes anime {
  0% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);
  }
}

/* <!-- //////////////////////////////// --> */
/* <!-- company page --> */

.news {
  padding-top: 30px !important;
  margin-bottom: 120px;
}
.company__wrapper__body h3 {
  margin-bottom: 20px !important;
}

.company__wrapper__body .news__content__body h4 {
  font-weight: 600;
}

.company__wrapper__body .news__content__body h5 {
  font-weight: 500;
  margin: 20px 0;
}

.company__wrapper__body .news__content__body p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 8px;
}

.company__wrapper__body .news__content__body span {
  font-weight: 600;
}
.company__wrapper__body .news__body {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
  margin-bottom: 30px;
}
.company__wrapper__body .news__body .item {
  flex: 1;
  box-shadow: 0px 6px 32px rgba(0, 0, 0, 0.1);
  border-radius: 19px;
  overflow: hidden;
}
.company__wrapper__body .news__body__bottom {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 30px;
}
.news__body__bottom .new__item a {
  display: flex;
  align-items: center;
}

.company__wrapper__body .news__body__bottom .new__image img {
  width: 103px;
  height: 73px;
  object-fit: cover;
}
.company__wrapper__body .news__body__bottom .new__text h3 {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 8px !important;
}

/* /////////////////////// */
/* regulatory page */
.regulatory__body {
}
.btn-link {
  width: 100%;
  background: #f0f1f6 !important;
  padding: 25px 45px !important;
  border-bottom: 0 !important;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px !important;
}
.btn-link a {
  text-align: start;
  color: #3715a6;
  text-decoration: underline;
  max-width: 95%;
  text-overflow: el lipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* //////////////////////////// */
/* important-facts */

.facts .item{
  margin-bottom: 30px;
}
.facts .item h6 {
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: #000;
  margin-bottom: 15px;
}
.facts .item > div {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 15px;
}
.facts .item .btn-download {
  background: #3715a6;
  border-radius: 6px;
  padding: 10px 15px;
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: #fff;
  margin-bottom: 0;
}
.facts .item span {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: #717171;
  letter-spacing: 0.01em;
}
